rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isCreator() {
      return request.auth != null && resource.data.creatorId == request.auth.uid;
    }

    match /rooms/{roomId} {
      allow read, write: if isCreator();
    }
    match /rooms/{roomId}/profile {
      allow read, write: if isCreator()
      allow get: if true; // public profile
    }
  }
}


