
:root {
  --color-primary: #000;
}


html, body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

body {
  font-size: 16px;
}

body.no-touch {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header p {
  font-size: 16px;
  text-align: center;
}

header h1, main > h2 {
  text-align: center;
}

.disclaimer {
  text-align: center;
  font-size: 12px;
  margin: 0px;
}

input[type="text"], input[type="email"], textarea {
  font-size: 16px;
  width: 100%;
  padding: 6px 4px;
  box-sizing: border-box;
}

main button,
footer button,
main a.button {
  font-size: 1.5em;
  margin: 8px auto;
  display: block;
  text-align: center;

}
main a.button {
  text-decoration: none;
}

main button ~ p {
  text-align: center;
}


.mt8 {
  margin-top: 8px !important;
}
.m16 {
  margin: 16px;
}

.mt16 {
  margin-top: 16px !important;
}
.mb16 {
  margin-bottom: 16px !important;
}

.mt32 {
  margin-top: 32px !important;
}
.mb32 {
  margin-bottom: 32px !important;
}

.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}